<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806987404946-ugejte6jgi7tambbdh2pq6rgfe1kj9k5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806987404946-ugejte6jgi7tambbdh2pq6rgfe1kj9k5</string>
	<key>API_KEY</key>
	<string>AIzaSyDGat5j7getm9W1uFOqM28YGL0dTcVODzE</string>
	<key>GCM_SENDER_ID</key>
	<string>806987404946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jacob.baron.quickcrewapp2</string>
	<key>PROJECT_ID</key>
	<string>quickcrew-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>quickcrew-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806987404946:ios:89417aac3077df0baa784b</string>
</dict>
</plist>